.git
.env
.env.*
!.env.example

backend/.pytest_cache
backend/__pycache__
backend/**/__pycache__
backend/videos
backend/pdf_documents
backend/images
backend/certificates

frontend/dist
frontend/node_modules

venv
.venv
node_modules
*.pyc
